.terraform.lock.hcl
.terraform
terraform.tfstate
terraform.tfstate.backup
*.pem
*.ppk
app_volume_id.txt
scripts
pyvenv
.env
.venv
env/
venv/
.pytest
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
__pycache__/
Lib
Lib/
Include
venv
pyvenv.cfg